#container {
    width: 300px;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 20%;
  }
  
  .draggable {
    margin: 5px;
    padding: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 25%;
  }
  
  .draggable:hover {
    background-color: #ccc;

  }
  
#message{

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }
  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;}