body{
  background: #263859;
}

#datetime{
color: #FF6768;
margin: 20px;
font-size: 35px;
font-family: "Signika";
background-color: #17223B;
border-radius: 25px;
}



h1{
  color: #17223B;

  font-size: 60px;
  font-family: "Signika"; 
}

.virsrD{
  background-color: #6B778D;
  border-radius: 25px;
  height: fit-content;
  align-self: center;
}

.uzdteksts{
  color: #6B778D;
  margin: 10px;
  font-size: 35px;
  font-family: "Comfortaa";
  padding: 15px;
  border-radius: 25px;
  background-color: #17223B;
}

#container {
    width: 375px;
    border: 2px solid #6B778D;
    padding: 10px;
    border-radius: 25px;
  }
  
  .draggable {
    margin: 5px;
    padding: 10px;
    background-color: #6B778D;
    cursor: pointer;
    border-radius: 25px;
    color: #17223B;
    border: 2px solid #17223B;
    font-size: 30px;
    font-family: "Signika";
  }
  
  .draggable:hover {
    background-color: #FF6768;

  }
  
ol{

  color: #FF6768;
  -webkit-text-stroke: 1px #17223B;
  font-size: 30px;
  font-family: "Comfortaa";
}



.grid-container {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 10px;
  }
  .grid-item {

    padding: 20px;
    font-size: 30px;
    text-align: center;}

  .item3{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  table, th, td {
    border:1px solid black;
    border-radius: 25px;
    text-align: start;
  }

table{
  background-color: #17223B;
}
th, td {
  background-color: #6B778D;
  font-size: 23px;
  font-family: "Comfortaa";
    padding: 10px;

}

#message{
  color: #FF6768;
  font-size: 30px;
  font-family: "Comfortaa";
  margin: 10px;
}

span{
  color: #FF6768;
  -webkit-text-stroke: 1px #17223B;
  font-size: 35px;
  font-family: "Comfortaa";
}

.posmJaut{
  margin: 0%;
  font-family: "Comfortaa";
  font-size: 25px;
  color: #6B778D;
}

.ievade{
  background-color: #17223B;
  border-radius: 25px;
  padding: 20px;
}
input{
  background-color: #6B778D;
  border-radius: 25px;
  width: 250px;
  color: #17223B;
  font-family: "Signika";
}

::placeholder{
  color: #263859;
  font-family: "Comfortaa";
}

button{
  border-radius: 25px;
  height: 40px;
  background-color: #FF6768;
  color: #17223B;
  font-family: "Signika";
}